body {
  font-family: 'Merriweather', 'Montserrat', 'Sacramento', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000; /* Set the background color to black */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #fff; /* Set the text color to white */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #555; /* Optional: Add a darker background on hover */
}

.top-container {
  padding-top: 50px; /* Add padding to avoid content hiding behind the navbar */
}

/* Your existing styles */
